.body {
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f4f4f4;
}

button {
    color: #f4f4f4;
    background: transparent;
    border: none;
    cursor: pointer;
}

button:hover {
    color: lightgreen;
}

.map-container {
    border: 2px solid #f4f4f4;
    min-width: 60vw;
}

div {
    padding: 10px;
    border-radius: 10px;
}



.create-workout-container {
    border: 2px solid #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.reply-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

textarea {
    width: 700px;
    height: 200px;
    border-radius: 10px;
    padding: 5px;
}

input {
    border-radius: 10px;
    width: 60%;
    padding: 5px;
}

.link {
    color: #f4f4f4;

    cursor: pointer;

}

.link:hover {
    color: lightgreen;
}